
body{
    height: 1000px; 
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #6441a5, #2a0845);
    color: whitesmoke;
    
}



.loginButton {
    display: none;
    height: 35px;
    width: 175px;
    margin: 1.5rem;
    background: #e6e6fa;
    border: none;
    border-radius: 10px;
}
.signUpButton {
    display: none;
    height: 35px;
    width: 300px;
    width: 175px;
    margin: 1.5rem;
    border: none;
    border-radius: 10px;
    background: #E6E6FA;
}

.signUpInputs{
    display: none;
}

.displayButton{
    display: block;
}



#email_input{
    height: 35px;
    width: 300px;
    margin: 20px;
    border: solid rgba(83, 83, 83, 0.5) 2px;
    border-radius: 10px;
    outline: none;
    
}

#password_input{
    height: 35px;
    width: 300px;
    margin: 20px;
    border: solid rgba(83, 83, 83, 0.5) 2px;
    border-radius: 10px;
    
    
}

::-webkit-input-placeholder {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }
 


 /* L o g i n  &  S i g n u p - F o r m s  */

#login_form {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#sign_up_form{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

header{ 
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
    width: 250px;
    background-color: rgb();
    
}

header >  ul > li {
    float: left;
    text-decoration: none;
    overflow: hidden;
    padding: 20px;
    margin: 0;
    cursor: pointer;
    color: white;
}