
body{


    
    background: url('/assets/login_background.jpeg');
    color: whitesmoke;
    font-size: 30px;
    font-weight: lighter!important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
    
}

#body-bg{ 
margin-left: 20%;

}

#sign-up{ 
    font-size: 15px;
}

/* .loginButton {
    display: none;
    height: 35px;
    width: 175px;
    margin: 1.5rem;
    background: #e6e6fa;
    border: none;
    border-radius: 10px;
}
.signUpButton {
    display: none;
    height: 35px;
    width: 300px;
    width: 175px;
    margin: 1.5rem;
    border: none;
    border-radius: 10px;
    background: #E6E6FA;
} */


.displayNone { 
    visibility: hidden;
    display: none!important;
}

input { 
    padding-left: 10px;
}

#email_input{
    height: 50px;
    width: 350px;
    margin: 20px;
    border: solid rgba(83, 83, 83, 0.733) 2px;
    outline: none;
    
}

#password_input{
    height: 50px;
    width: 350px;
    margin: 20px;
    border: solid rgba(83, 83, 83, 0.801) 2px;

    display: block;
    
    
}

::-webkit-input-placeholder {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    
    
 }
 


 /* L o g i n  &  S i g n u p - F o r m s  */

#login_form {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

#sign_up_form{
    height: 600px;
    width: 100%;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    
}

header{ 
    margin: 0!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    word-spacing: 2px;
    background-color: rgb();
    padding: 0!important;
    
}

header >  ul > li {
    float: left;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    color: white;
    justify-content: center;
    text-decoration: underline;
}

header > ul { 
    padding: 5px!important;
}

.container{ 
    height: 1000px;
    width: 1000px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15%;
    background: rgba(83, 83, 83, 0.664);
    padding: 0%;
    

}