
body{
    height: 100vh!important;
    background: url('/assets/login_background.jpeg');
    color: whitesmoke;
    font-size: 30px;
    font-weight: lighter!important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
    display: flex;
    justify-content: center;
    align-items: flex-start!important;
}


#sign-up{ 
    font-size: 15px;
}

.loginButton {
    height: 40px;
    width: 200px;
    margin: 1.5rem;
    background: linear-gradient(to bottom, #5785d0, #498CF7, #477dd3);
    border: none;
    outline: none;
    color: white;
    letter-spacing: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.signUpButton {
    height: 40px;
    width: 200px;
    margin: 1.5rem;
    background: linear-gradient(to bottom, #5785d0, #498CF7, #477dd3);
    border: none;
    outline: none;
    color: white;
    letter-spacing: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}


.displayNone { 
    visibility: hidden;
    display: none!important;
    
}

input { 
    padding-left: 15px;
    
    
    
}

#email_input{
    height: 40px;
    width: 350px;
    margin: 20px;
    border: solid rgba(83, 83, 83, 0.733) 2px;
    outline: none;
    
}

#password_input{
    height: 40px;
    width: 350px;
    margin: 20px;
    border: solid rgba(83, 83, 83, 0.801) 2px;
    display: block;    
}

::-webkit-input-placeholder {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
 }
 


 /* L o g i n  &  S i g n u p - F o r m s  */

 #sign-up {
    float: left;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    color: black;
    justify-content: center;
    text-decoration: underline;
 }
 

#login_form {
    height: 600px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    color: black;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.619) !important;
    background: #fff;
    
}

#sign_up_form{
    height: 600px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    color: black;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.619) !important;
    background: #fff;
}

#login{ 
    cursor: pointer;
    font-size: 15px!important;
    text-decoration: underline;
}

header{ 
    margin: 0!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    word-spacing: 2px;
    background-color: rgb();
    padding: 0!important;
    color: black;
    
}

header >  ul > li {
    float: left;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    color: black;
    justify-content: center;
    text-decoration: underline;
}

.fas { 
    padding-bottom: 3rem!important;
}

.container{ 
    height: 800px;
    width: 1000px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
    /* background: rgba(83, 83, 83, 0.664); */
    
    padding: 0%;
    

}